# ignore node_modules directory in frontend and backend
ds-frontend/node_modules
ds-backend/node_modules

# ignore build artifacts and compiled files in frontend and backend
ds-frontend/build
ds-backend/build
ds-frontend/dist
ds-backend/dist

# ignore editor and IDE specific files and directories
.vscode
.idea
*.iml
*.ipr
*.iws

# ignore environment variables
.env
.env.local
.env.*.local

# ignore user-specific and machine-specific files
.DS_Store
Thumbs.db
*.swp
